.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
/* Show it is fixed to the top */
.body {
  min-height: 75rem;
  padding-top: 4.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* gallary */
.photo-gallery {
  color:#313437;
  background-color:#fff;
}

.photo-gallery p {
  color:#7d8285;
}

.photo-gallery h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom:15px;
    padding-top:25px;
    font-size:24px;
  }
}

.photo-gallery .intro {
  font-size:1rem;
  max-width:30rem;
  margin:0 auto 2.5rem;
}

.photo-gallery .intro p {
  margin-bottom:0;
}

.photo-gallery .photos {
  padding-bottom:0.5rem;
}

.photo-gallery .item {
  padding-bottom:0.5rem;
}