.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
/* Show it is fixed to the top */
.body {
  min-height: 75rem;
  padding-top: 4.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
* {
    box-sizing: border-box;
  }

#regForm {
  background-color: #ffffff;
  margin: 0rem auto;
  font-family: Raleway;
  padding: 0rem;
  width: 100%;
  min-width: 10rem;
}
input {
  padding: 10px;
  width: 91%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}
select{
  padding: 10px;
  width: 91%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}
/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}
/* Hide all steps by default: */
.tab {
  display: none;
}
button {
  background-color: darkslategray;
  color: #ffffff;
  border: none;
  padding: 5px 20px;
  font-size: 17px;
  font-family: Raleway;
  border-radius: 5%;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
#prevBtn {
  background-color: #bbbbbb;
}
/* Make circles that indicate the steps of the form: */
.step {
  height: 2rem;
  width: 20%;
  margin: 1rem 0.2rem;
  background-color:rgb(85, 164, 203);
  border: none;  
  border-radius: 0%;
  display: inline-block;
  opacity: 0.5;
}
.step.active {
  opacity: 1;
}
/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}