body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1, h2, NAV{
    color: #1e59ae;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    font-size: 4rem;
}
header{
    background-image: url('../images/teamBanner1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 180px;
 }
 
@media only screen and (max-width: 768px){
    header{
       background :#fcd006;
       padding-top: 10px; 
    }
}