body {
    font-family: Georgia, "Times New Roman", Times, serif;
}
h1,
nav,
h3 {
    color: #1e59ae;
    font-weight: 900;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}
header {
    background-image: url("../images/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 180px;
}
.greybg {
    background-color: #eff2f5;
}
ul {
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-top: 1rem;
}
.price {
    color: #1e59ae;
    font-weight: 700;
    background-color: #eff2f5;
}
@media only screen and (max-width: 768px) {
    header {
        background: #fcd006;
        height: 100px;
    }
    .greybg {
        background: white;
    }
}
