body {
    font-family: Georgia, "Times New Roman", Times, serif;
    width: 80%;
    margin: auto auto;
}
nav {
    color: #1e59ae;
    background-color: #eff2f5;
    font-weight: 900;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 1.5rem;
    width: 100%;
}
#ads {
    border: 8px solid #eff2f5;
    text-align: center;
    margin: auto;
    margin-bottom: 1em;
}
#contactBackground {
    background-color: white;
}
#contactForm {
    font-size: 1.3em;
    background-color: #eff2f5;
    color: #1e59ae;
    border-radius: 10px 0 0 10px;
    position: relative;
    top: 30px;
}
#contactForm input {
    display: flex;
}
#contactFooter {
    position: relative;
    top: 30px;
}
#contactImg {
    background-color: #eff2f5;
    position: relative;
    top: 30px;
    border-radius: 0 10px 10px 0;
    background-image: url(../images/contactClinic.PNG);
    background-repeat: round;
}
#contactMain {
    margin-top: 1.5em;
}
#emergContact {
    background-color: rgb(255, 78, 80);
    color: black;
    border: 3px solid black;
    padding: 4px;
    text-transform: uppercase;
}
#emergContact:hover {
    text-decoration: none;
}
#lowerBanner {
    justify-content: center;
    padding-bottom: 2em;
    font-size: 2em;
    position: relative;
    top: 2em;
}
#lowerBanner a {
    text-decoration: none;
    color: #1e59ae;
}
#mainServ {
    padding-left: 2em;
}
#messageField {
    margin-top: 1.2em;
    color: inherit;
}
#submitBtn {
    margin-top: 3em;
    border: none;
    color: #eff2f5;
    font-size: 1.3em;
    margin-bottom: 1em;
    border-radius: 50px;
    background-color: #1e59ae;
}
#titleMain {
    font-size: 2em;
    margin-top: 0.76em;
}
#welcome {
    margin-top: 1em;
    text-align: left;
    color: #1e59ae;
    background-image: url(../images/titlemain.jpg);
    background-repeat: no-repeat;
    background-position: 44%;
    height: 20em;
}
#welcome h1 {
    font-size: 2em;
    padding-top: 1.8em;
}
#welcome h3 {
    margin-bottom: 6rem;
}
.contactNav {
    font-size: 1em;
    position: relative;
    left: 1em;
    top: 0.3em;
}
.footer {
    font-size: 0.5em;
}
.titleNav li {
    position: relative;
    top: 0.2em;
}

@media only screen and (max-width: 1390px) {
    #welcome h1 {
        width: 645px;
    }
}
@media only screen and (max-width: 1200px) {
    #ads div {
        border: 4px solid #eff2f5;
    }
    #itemWeek {
        text-align: center;
    }
    #mainServ {
        text-align: center;
    }
    #mainServ ul {
        list-style: none;
    }
    #welcome {
        background-position: 80%;
    }
    #welcome h1 {
        width: 400px;
    }
    #welcome h3 {
        width: 50%;
        font-size: 0.9em;
    }
}
@media only screen and (max-width: 992px) {
    #mainServ h3 {
        margin-top: 1em;
        text-decoration: underline;
    }
    #welcome {
        background-position: 70%;
    }
    #welcome h1 {
        font-size: 1.6em;
        width: 50%;
    }
}
